extends ../_skeleton

block variables
	- var pageName = '3 Lesson - Variables'

block page
	section.section.section-lg.text-center
		.container
			h1 Input Square
			p Enter Number
				input#inp1(type='text')
			button.btn#btn Square of number