.btn {
	display: inline-block;
	padding: 7px 23px;
	border: 2px solid;
	border-radius: 6px;
	box-shadow: none;
	cursor: pointer;
	transition: .3s ease-out all;
	
	&, &:focus, &:active {
		color: $white;
		background-color: $black;
		border-color: $black;
	}
	
	&:hover {
	  color: $black;
		background-color: transparent;
		border-color: $black;
	}
}